body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0 auto;
    background-color: rgb(31, 98, 0);
}

.container{
    width: 100%;
    position: absolute;
    background-image: url("/images/farm.jpeg");
    height: 100fr;
    background-size: cover;
}

.header{
    height: 10fr;
    background-color: #FDA1A1;
}

#form{
    margin: 80px;
    padding: 40px;
    background-color: rgba(255, 255, 255, 0.395);
    height: 600px;
    text-align: center;
}

h1{
    color: #ab0f0f;
    text-shadow: 1px 1px white;
}

label{
    font-size: large;
    font-weight: 600;
    text-shadow: 0.5px 0.5px white;
    margin-bottom: 10px;
}

#submit {
    margin-top: 10%;
    font-size: larger;
}

/* use for test.html */
#sbody{
    max-width: 50%;
    margin-left: auto;
    margin-right: auto;
}

.top5{
    font-size: 2em;
    color: #ab0f0f;
}

#place5{
    margin-bottom: 15px;
}