.container{

    height:100vh;
    display:grid;
    grid-template-rows: 10% 50% 40%;
    grid-template-columns: 1fr;
    grid-template-areas: 
    "logo"
    "main"
    "issues";
    background-image: url("../images/background.jpeg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 120%;
    text-align: center;
    
}

.logo{

    grid-area:logo;
    grid-row: 1 /span 1;
}

.main {

    grid-area:main;
    grid-row: 2 /span 1;
    align-content: center;
    justify-content: center;
    font-size: larger;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.issues{
    grid-area: issues;
    display: grid;
    grid-template-columns: repeat(1fr,5);
    grid-template-rows: 1fr;
    grid-template-areas: 
    "issueOne issueTwo issueThree issueFour issueFive";
}

#issueOne {
    grid-area: issueOne;
}

#issueTwo {
    grid-area:issueTwo;
}

#issueThree {
    grid-area:issueThree;
}

#issueFour {
    grid-area: issueFour;
}

#issueFive {
    grid-area:issueFive;
}