.container{
    display:grid;
    grid-template-rows: 40% 50% 70% 10% 10% 10%;
    grid-template-columns: 1fr;
    grid-template-areas: 
    "header"
    "benefit"
    "one"
    "prefer"
    "option"
    "done";
    background-image: url("../../app/images/farm.jpeg");
    background-repeat: no-repeat;
    background-size: 100%;
    
}

.header {
    background-image: url("../../app/images/logo.png");
    background-repeat: no-repeat;
    background-size: 5%;
}

.benefit {
    grid-area: benefit;
    text-align: center;
    font-size: 50px;

}

.one {
    grid-area: one;
    display: grid;
    grid-template-columns: repeat(1fr, 2);
    grid-template-rows: repeat(1fr, 4);
    grid-template-areas: 
    "protein fiber" 
    "calcium iron" 
    "vitaminA vitaminB"
    "vitaminC vitaminE";
}

#protein {
    grid-area: protein;
    font-size: 30px;
    text-indent: 12%;
}

#fiber {
    grid-area: fiber;
    font-size: 30px;
    text-indent: 27.5%;
}

#calcium {
    grid-area: calcium;
    font-size: 30px;
    text-indent: 32%;
}

#iron {
    grid-area: iron;
    font-size: 30px;
    text-indent: 22%;
}

#vitaminA {
    grid-area: vitaminA;
    font-size: 30px;
    text-indent: 2%;
}

#vitaminB {
    grid-area: vitaminB;
    font-size: 30px;
    text-indent: 21%;
}

#vitaminC {
    grid-area: vitaminC;
    font-size: 30px;
    text-indent: 24.5%;
}

#vitaminE {
    grid-area: vitaminE;
    font-size: 30px;
    text-indent: 12%;
}

.prefer {
    grid-area: prefer;
    text-align: center;
    font-size: 50px;

}

.option {
    grid-area: option;
    display: grid;
    grid-template-columns: repeat(1fr, 3);
    grid-template-rows: 1fr;
    grid-template-areas: 
    "fruits value veggies";
}

#fruits {
    grid-area: fruits;
    font-size: 30px;
    text-indent: 30%;

}

#veggies {
    grid-area: veggies;
    font-size: 30px;
    text-indent: 30%;
}

.done {
    grid-area: done;
    text-align: center;
}

#submit {
    height:100%;
    width:5%;
    font-size: large;
}
